In [1]:
# Import pandas
import pandas as pd

In [3]:
# Create a DataFrame with balance.txt
df = pd.read_csv('balance.txt', sep=' ')

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity.
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()` for a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).

In [4]:
print(df)

       Balance   Income  Limit  Rating  Cards  Age  Education  Gender Student  \
0    12.240798   14.891   3606     283      2   34         11    Male      No
1    23.283334  106.025   6645     483      3   82         15  Female     Yes
2    22.530409  104.593   7075     514      4   71         11    Male      No
3    27.652811  148.924   9504     681      3   36         11  Female      No
4    16.893978   55.882   4897     357      2   68         16    Male      No
..         ...      ...    ...     ...    ...  ...        ...     ...     ...
395   8.764984   12.096   4100     307      3   32         13    Male      No
396   9.943838   13.364   3838     296      5   65         17    Male      No
397  14.882078   57.872   4171     321      5   67         12  Female      No
398  12.001071   37.728   2525     192      1   44         13    Male      No
399  10.159598   18.701   5524     415      5   64          7  Female      No

    Married         Ethnicity
0       Yes         Caucasian
1       Yes             Asian
2        No             Asian
3        No             Asian
4       Yes         Caucasian
..      ...               ...
395     Yes         Caucasian
396      No  African American
397     Yes         Caucasian
398     Yes         Caucasian
399      No             Asian

[400 rows x 11 columns]

In [5]:
# 1. Compare the average income based on ethnicity
avg_income_by_ethnicity = df.groupby('Ethnicity')['Income'].mean()
print("Average income based on ethnicity:")
print(avg_income_by_ethnicity)

Average income based on ethnicity:
Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

In [11]:
# 2. On average, do married or single people have a higher balance?
avg_balance_married = df[df['Married'] == 'Yes']['Balance'].mean()
avg_balance_single = df[df['Married'] == 'No']['Balance'].mean()
print("Average balance for married individuals:", avg_balance_married)
print("Average balance for single individuals:", avg_balance_single)

Average balance for married individuals: 13.388473477498913
Average balance for single individuals: 13.493509015134242

In [7]:
# 3. What is the highest income in our dataset?
max_income = df['Income'].max()
print("Highest income in the dataset:", max_income)

Highest income in the dataset: 186.634

In [8]:
# 4. What is the lowest income in our dataset?
min_income = df['Income'].min()
print("Lowest income in the dataset:", min_income)

Lowest income in the dataset: 10.354

In [9]:
# 5. How many cards do we have recorded in our dataset?
num_cards = df['Cards'].sum()
print("Number of cards recorded in the dataset:", num_cards)

Number of cards recorded in the dataset: 1183

In [10]:
# 6. How many females do we have information for vs how many males?
num_females = df[df['Gender'] == 'Female']['Gender'].count()
num_males = df[df['Gender'] == 'Male']['Gender'].count()
print("Number of females:", num_females)
print("Number of males:", num_males)

Number of females: 207
Number of males: 193